---
import { discordAvatar } from './fetch-discord.ts';

interface Props {
  src: string;
  class?: 'round' | 'square';
  name: string;
}

const { src: userId, class: shape = 'square', name: member } = Astro.props;
const avatarUrl = await discordAvatar(userId);
---

<div class="display">
  <img src={ avatarUrl } alt="Discord PFP" class={ shape } />
  <div style="display:flex; flex-direction:column; justify-content:center;">
    <p class="name"> { member } </p>
    <p style="about"><slot /></p>
  </div>
</div>

<style>
  .display {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    margin-bottom: 32px;
    flex: 1 1;
    overflow-wrap: anywhere;
  }

  img { width: 150px; object-fit: cover; flex-shrink: 0; }
  img.round  { border-radius: 50%; }
  img.square { border-radius: 16px; }

  .name { font-size: x-large; font-weight: bold; margin: 0 0 4px; }

  .about { font-size: medium; margin: 0; }
</style>
