/* Home Header */
.site-header {
	width: 100%;
	max-width: 950px;
	padding: 0 4px 12px;
  	text-align: center;
}
.site-title {
  	margin: 0;
  	font-size: 2rem;
  	font-weight: 700;
  	color: var(--text);
  	letter-spacing: 0.08em;
}

/* Images */
.render1 {
	display: block;
	margin: auto auto 20px;
	object-fit: contain;
}