---
import '../page-css/contact.css';
import Layout from '../layouts/Layout.astro';
---

<Layout sidebarActive='contact'>

  <div slot="before-card" class="contact-above">
    <header class="contact-header">
      <h1 class="contact-title">CONTACT</h1>
    </header>
    <div class="contact-grid">
      <div class="mail-card"></div>
      <div class="other-contacts-card"></div>
    </div>
  </div>

  <!-- scrollable content inside the layout card -->

</Layout>