---
import Layout from '../layouts/Layout.astro';

import About from '../components/home/about.astro';
import Projects from '../components/home/projects.astro';
import News from '../components/home/news.astro';
import Dev from '../components/home/dev.astro';
---

<Layout sidebarActive='home'>

  <header slot="before-card" class="site-header">
    <h1 class="site-title">WELCOME</h1>
    <h4 style="margin-top: -2px; margin-bottom: -5px;">TO</h4>
  </header>

  <About />
  <Projects />
  <News />
  <Dev />

</Layout>
