---
import '../page-css/home.css';
import { Image } from 'astro:assets';

import Layout from '../layouts/Layout.astro';

import Projects from '../components/home/projects.astro';
import render1 from '../assets/render1.png';
---

<Layout sidebarActive='home'>

  <header slot="before-card" class="site-header">
    <h1 class="site-title">WELCOME</h1>
    <h4 style="margin-top: -2px; margin-bottom: -5px;">TO</h4>
  </header>

  <Image src={ render1 } priority
    alt="Lumynity Studios Title Card"
    class="render1"
    width="751" layout='constrained' />
  <hr>

  <div>
    <center><h2><u>About Us</u></h2></center>

    <p>
      Founded and led by <a href="https://x.com/JustMiliVT">JustMili</a>, Lumynity Studios is a "small" team of programmers, artists, 
      writers, builders, translators and play-testers.<br>
      We create whatever comes to our minds at the time and commit to it in the long run.<br>
      <small>(not so small afterall, though many of us do take multiple jobs at once)</small><br>
      <br>
      We love doing what we're doing, and thanks to our amazing community, contributors and collaborators we are where we stand today.
    </p>

    <hr style="margin-top: 25px;">
  </div>

  <div>
    <!-- Move PROJECTS here instead of an import -->
  </div>

  <Projects />

  <div>
    <!-- Do NEWS preview here -->

    <center><h2><u>News</u></h2></center>

    <!-- Fetch only last 3 added news article -->
    <!-- Note for future: all articles will be stored individually as files in pages/news/article_name.md -->
    <!-- Add button "Show More" -->

    <hr>
  </div>

</Layout>

