---
import { getCollection, render } from 'astro:content';

import Layout from '../layouts/Layout.astro';
import { getPosts } from './news/index.json.ts';

const posts = await getPosts();

const PRERENDER = 2;
const rendered = await Promise.all(posts.slice(0, PRERENDER).map(render));
---

<Layout sidebarActive='news'>

  <div id="Posts">
    {rendered.map(({ Content }) => (
      <article>
        <Content />
      </article>
    ))}

    <span id="Observer" data-prerendered={ PRERENDER }>
  </div>
  <script src='../page-scripts/news.ts'></script>

</Layout>

<style>
  #Posts {
    display: contents;
  }
</style>
