<img src="/assets/render1.png" alt="Lumynity Studios Title Card" class="specifically-render1">
<hr>

<center><h2><u>About Us</u></h2></center>

Originally founded by <a href="https://x.com/JustMiliVT">JustMiliVT</a> and still led by her, Lumynity Studios is a "small" team of programmers, artists, writers, builders, translators and play-testers. We create whatever comes to our minds at the time and commit to it in the long run.<br>
<small>(not so small afterall, though many of us do take multiple jobs at once)</small><br>
<br>
We love doing what we're doing, and thanks to our amazing community, contributors and collaborators we are where we stand today.

<hr style="margin-top: 25px;">
