<br><br><b>(Dev) TODO:</b><br>
- Add hover-over descriptors(?) to all the buttons when nav is closed<br>
- Add reading of <a href="#">https://modrinth.com/mod/create-totem-factory</a> to Our Projects, add small label "<i>Collaborative Project</i>" under it on its mini card<br>
- Replace footer block text and logo with a tiny render1.png<br>
- Fix header right logo<br>
- Make socials (footer block) links open new tabs<br>
- Make the news page work - News will have their own mini cards with a specific layout<br>
--> Add some news to be read (Millie will write all the news)<br>
--> Load max 9 news mini cards in a 3x3 or 4x2 grid before "Show More"/"Show All" button<br>
- Add news preview to home page<br>
--> Preview max 3 in home<br>
- Make seperate layouts for hiring and dev docs pages<br>