---
import './button.css';

interface Props {
  name: string,
  href: string,
  isActive?: boolean,
}
const { name, href, isActive = false } = Astro.props;
---

<a href={ href } class:list={['sidenav-btn', { active: isActive }]} aria-label={ name }>
  <span class='sidenav-icon'>
    <slot />
  </span>
  <span class="sidenav-text">{ name }</span>
</a>
