---
import { Image } from 'astro:assets';

import './layout.css';
import { default as Sidebar, type SidebarActive } from '../components/sidebar.astro';
import Footer from '../components/footer.astro';
import wip from '../assets/wip.png';

interface Props {
	sidebarActive?: SidebarActive,
	title?: string,
}
const { sidebarActive, title = 'Lumynity Studios' } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta name="generator" content={Astro.generator} />
    <link rel="icon" href="/assets/favicon.png" type="image/png">
    <link rel="stylesheet" href="/css/site-info.css">
    <title>{ title }</title>
	</head>
	<body>

    <Sidebar active={ sidebarActive } />

    <div class="page-wrap">
      <slot name="before-card" />
      <main class="card">
        <slot>
				  <Image src={ wip } alt="WIP" style={{ width: "100%", height: "auto" }} />
				</slot>
      </main>
    </div>

		<Footer />

	</body>
</html>
