---
import { default as Sidebar, SidebarActive } from '../components/sidebar.astro';
import Footer from '../components/footer.astro';

interface Props {
	sidebarActive?: SidebarActive,
	title?: string,
}
const { sidebarActive, title = 'Mystic Creations Team' } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta name="generator" content={Astro.generator} />
    <link rel="icon" href="public/assets/favicon.png" type="image/png">
    <link rel="stylesheet" href="public/css/common.css">
    <link rel="stylesheet" href="public/css/homepage.css">
    <title>{ title }</title>
	</head>
	<body>

    <Sidebar active={ sidebarActive } />

    <div class="page-wrap">
      <slot name="before-card" />
      <main class="card">
        <slot />
      </main>
    </div>

		<Footer />

	</body>
</html>
